<p id="notice"><%= notice %></p>

<p>
  <strong>Producttitle:</strong>
  <%= @tagcreation.producttitle %>
</p>

<p>
  <strong>Productoption:</strong>
  <%= @tagcreation.productoption %>
</p>

<p>
  <strong>Productvalue:</strong>
  <%= @tagcreation.productvalue %>
</p>

<p>
  <strong>Producttagid:</strong>
  <%= @tagcreation.producttagid %>
</p>

<p>
  <strong>Producttag:</strong>
  <%= @tagcreation.producttag %>
</p>

<%= link_to 'Edit', edit_tagcreation_path(@tagcreation) %> |
<%= link_to 'Back', tagcreations_path %>
